@import "mixin.scss";
@import "dimen.scss";
@import "color.scss";

.container {
    width: 100%;
    height: $appbar-height;
    padding: $appbar-padding;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    @include sm {
        padding: $appbar-padding-mobile;
        background-color: $white-two;
        align-items: center;
    }

    img {
        height: 28px;
        width: 100px;

        @include sm {
            height: 14px;
            width: 50px;
        }
    }
}

.drawer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    span {
        margin: 0 20px;
        font-size: 18px;
        height: 22px;

        @include sm {
            font-weight: bold;
        }
    }

    img {
        height: 8px;
        width: 20px;
    }
}

.line {
    margin: $appbar-padding;
    margin-top: 24px;

    @include sm {
        display: none;
    }
}
