$greyish: #a3a3a3;
$warm-grey: #808080;
$black: #0e0e0e;
$black-two: #272727;
$strong-blue: #1a18f7;
$orange-red: #ff2929;
$white: #d8d8d8;
$white-two: #fff;
$greyish-brown: #3e3e3e;
$white-three: #ddd;